* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
#wrap {
    width: 1210px;
    margin: 0 auto;
}

header #header-top {
    display: flex;
    justify-content: space-between;
}

#bookmark img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

header #header-top #bookmark .bookmark-text a {
    color: gray;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 3px;
}

header #header-top ul#lnb {
    padding: 0;
    list-style: none;
    display: flex;
}

header #header-top ul#lnb li {
    margin: 0 20px;
}

header #header-top ul#lnb li a {
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

#header-bottom {
    align-items: baseline;
}

header #header-logo {
    margin: 0 auto;
    text-align: center;
}

#header-bottom .header-search {
    width: 183px;
    height: 36px;
    border-bottom: 2px solid #888;
    position: relative;
    bottom: 50px;
    float: right;
}

#header-bottom .header-search input {
    width: 150px;
    border: none;
    font-size: 18px;
}

#header-bottom .header-search input:focus {
    outline: none;
}

#header-bottom .simg {
    position: relative;
    top: 5px;
}

nav #gnb {
    width: 1210px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

nav #gnb li {
    width: 144px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    background-color: #3e4347;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
}

nav #gnb li:first-child {
    border-left: none;
    line-height: 5px;
    width: 80px;
}

nav #gnb li:first-child div {
    position: relative;
    top: 22px;
}

nav #gnb li a {
    display: inline-block;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

nav #gnb li:nth-child(2) a {
    color: yellow;
}

nav #gnb li a:hover {
    color: yellow;
}

aside {
    height: 108px;
    line-height: 108px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

section {
    width: 1210px;
    display: flex;
    justify-content: space-around;
}

section #main-img > img {
    width: 335px;
    height: 265px;
}

section #main-img .big-img {
    width: 335px;
    text-align: center;
}

section #main-img .big-img img {
    position: relative;
    top: 2px;
}

section #main-img .big-img span {
    font-size: 14px;
}

#section-info > * {
    margin: 20px 0;
}

#section-info > .money .ex2 span:last-child {
    color: red;
}

#section-info > #order-box {
    width: 300px;
    border: 1px solid #adadad;
}

#section-info > #order-box .order-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

#section-info #order-box span {
    font-size: 14px;
}

#section-info > #order-box .order-title span:first-child {
    color: #adadad;
    font-size: 14px;
}

.money div {
    margin: 10px 0;
}

.tem-box {
    display: flex;
}

.tem-flex {
    width: 40px;
    border: 1px solid #adadad;
}

.tem-flex2 {
    margin-left: 5px;
    display: flex;
    width: 11px;
    flex-wrap: wrap;
}

.tem-flex2:hover {
    cursor: pointer;
}
.tem-flex2 img{
    margin: 2px 0;
}
.total-money {
    border-top: 1px solid #adadad;
    padding: 5px;
    position: relative;
}
#plusNumber{
    width: 35px;
    border:none;
}
#plusNumber:focus{
    outline: none;
}

.total-money::after {
    content: " ";
    clear: both;
    display: block;
}

.total-money span span {
    font-weight: bold;
    color: red;
}

.total-money .total {
    display: inline-block;
    position: relative;
    left: 140px;
}

.sns {
    width: 20px;
    height: 20px;
}

.button-box {
    display: flex;
    justify-content: space-between;
}

#modal{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border:1px solid #000;
    font-weight: bold;

}
.modal-overlay{
    width: 100%;
    height: 1200px;
    background-color: rgba(0,0,0,0.6);
}
.modal-content{
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.hidden{
    display:none;
}
.dark{
    background-color: rgba(0,0,0,0.5);
}
